<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Trackgenix, Services, Bussiness, Resources, Log In">
        <meta name="description" content="Trackgenix is a webpage that eases the time
        tracking of your employees on each project and work team. Log In here">
        <script src="../javascript/login.js"></script>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/style.css">
        <title> Trackgenix / Log In</title>
    </head>
    <body>
        <header>
            <h2>Trackgenix</h2>
        </header>
        <section class="login-flex-container">
                <Img src="../assets/img/rr-logo.svg"></Img>
            <div class="login-container">
                <h3>Log In</h3>
                <form>
                    <input id="input-email" name="input-email" class="border-initial"
                    type="email" placeholder="Username@gmail.com">
                    <input id="input-password" name="input-password" class="border-initial"
                    type="password" placeholder="********">
                </form>
            </div>
            <div class="btn-container">
                <a class="back-btn" href="index.html">Back</a>
                <button type="submit" id="loginbtn" name="loginbtn" class="login-btn" href="#" autocomplete="current-password">
                    LogIn
                </button>
            </div>
        </section>
    </body>
</html>