<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Trackgenix, Services, Bussiness, Resources, Sign Up">
        <meta name="description" content="Trackgenix is a webpage that eases the time
        tracking of your employees on each project and work team. Sign Up here">
        <script src="../javascript/employee-signup.js"></script>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/employee-signup.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>Trackgenix / Sign Up</title>
    </head>
    <body>
        <header>
            <h2>Trackgenix</h2>
        </header>
        <section class="signup-flex-container">
            <h1>WELCOME TO TRACKGENIX!</h1>
                <h2>Register Account</h2>
            <form action="" class="form-container">
                <div class="div-container">
                    <div>
                        <label for="">Name</label>
                        <input id="Name" type="text" class="border-initial">
                    </div>
                    <div>
                        <label for="">Surname</label>
                        <input id="SurName" type="text" class="border-initial">
                    </div>
                </div>
                <div class="div-container">
                    <div>
                        <label for="">Email</label>
                        <input id="Email" type="text" class="border-initial">
                    </div>
                    <div>
                        <label for="">Phone Number</label>
                        <input id="PhoneNumber" type="text" class="border-initial">
                    </div>
                </div>
                <div class="div-container">
                    <div>
                        <label for="">Password</label>
                        <input id="Password" type="text" class="border-initial">
                    </div>
                    <div>
                        <label for="">Confirm Password</label>
                        <input id="ConfirmPassword" type="text" class="border-initial">
                    </div>
                </div>
                <div class="div-container">
                    <div>
                        <label for="">Birth Date</label>
                        <input id="BirthDate" type="date" class="border-initial">
                    </div>
                    <div>
                        <label for="">DNI</label>
                        <input id="DNI" type="text" class="border-initial">
                    </div>
                </div>
                <div class="div-container">
                    <div>
                        <label for="">City</label>
                        <input id="City" type="text" class="border-initial">
                    </div>
                    <div>
                        <label for="">Address</label>
                        <input id="Address" type="text" class="border-initial">
                    </div>
                </div>
                    <div class="lonely-div">
                        <label for="">Postal Code</label>
                        <input id="PostalCode" type="text" class="border-initial">
                    </div>
            </form>
            <div class="btn-container">
                <a href="index.html" class="back-btn">Back</a>
                <button id="signupBtn" name="signupBtn" class="signup-btn">SignUp</button>
            </div>
        </section>
    </body>
</html>