footer {
    width: 100%;
}

footer div{
    width: 100%;
    margin-bottom: 40px;
}

footer div ul{
    margin-left: 310px;
    margin-top: 20px;
}

footer div li{
    
}

footer h5{
    float: left;
    color: #FFFFFF;
    font-weight: 500;
}