header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #41426F;
    padding-left: 15px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

header .icon-bar{
    color: white;
    font-size: 48px;
}

header h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}