@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

*{
    box-sizing: border-box;
}

body{
    /*background-color: #41426F;*/
    font-family: 'Roboto', sans-serif;
}

section{
    border-top: #41426F solid 2px;
}

aside{
    display: none;
}

/* MEDIA 768px - Tablet */
@media (min-width: 768px) {

    main{
    background-color: red;
}
    .welcome-div-desktop-2{
        display: initial;
    }

    .welcome-div-desktop-2 img{
        width: 382px;
        height: 285px;
    }

    .welcome-div-mobile{
        display: none;
    }

    .welcome-button-1{
        display: initial;
        align-self: flex-end;
    }

    .final div{
        border-right: #41426F solid 2px;
        border-bottom: none;
    }
}

/* Media 1024 Desktop */
@media (min-width: 1024px){

    .icon-bar{
        display: initial;
    }

    aside{
        display: initial;
    }

    aside nav a{
    padding: 15px 56px;
    }

    main{
        margin-left: 20%;
        background-color: yellow;
    }

    .welcome p{
        font-size: 21px;
        margin-bottom: 5px;
    }

    .welcome-div-desktop-1{
        width: 50%;
        height: 100%;
    }

    .welcome-div-desktop-2 img{
        width: 100%;
    }

    .about-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    .about p{
        font-size: 24px;
    }

    footer{
    margin-left: 20%;
    }
}