@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* MEDIA 768px - Tablet */
@media (min-width: 768px) {


    .welcome-div-desktop-2{
        display: initial;
    }

    .welcome-div-desktop-2 img{
        width: 382px;
    }

    .welcome-div-mobile{
        display: none;
    }

    .welcome-button-1{
        display: initial;
        align-self: flex-end;
        justify-self: flex-end;
    }

    .reasons-div{
        width: 485px;
    }

    .my-form-button{
        width: 255px;
        height: 50px;
        margin-bottom: 5px;

    }

    .my-form-input{
        max-width: 50%;
    }

    .final div{
        max-width: 33%;
        border-right: #41426F solid 2px;
        border-bottom: none;
    }
}

/* Media 1024 Desktop */
@media (min-width: 1024px){

    header .icon-bar{
        display: none;
    }

    aside{
        display: initial;
    }

    main{
        margin-left: 20%;
    }

    .welcome p{
        font-size: 21px;
        margin-bottom: 5px;
    }

    .welcome-div-desktop-1{
        width: 50%;
    }

    .welcome-div-desktop-2 img{
        width: 100%;
    }

    .reasons-div{
        width: 350px;
    }

    .about-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    .about p{
        font-size: 24px;
    }

    footer{
    margin-left: 20%;
    }
}